* {
  box-sizing: border-box;
  font-family: 'Coming Soon', cursive;
}

body{
  background-image: url(images/drawing-pad-1209781_1920.jpg);
  background-repeat: no-repeat;;
  background-size: 100% 320%;
}

h1 {
  text-align: center;
  margin-top: 2.5%;
  font-size: 4em;
}

p {
  font-size: 1.1em;
  font-weight: bolder;
}

#wrapper {
  width: 600px;
  height: 360px;
  position: fixed;
  left: 285px;
  top: 250px;
  /*margin: 4% 25% 5% 28%;*/
}

.box {
  border: 1px solid #DDDDDD;
  width: 10px;
  height: 10px;
  display: inline-block;
  float: left;
  background-color: white;
}


.colors {
  border-radius: 100%;
  border: 1px solid #DDDDDD;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 1px;
}

#palette {
  margin: 0 21% 0 4%;
  float: right;
  position: fixed;
  left: 840px;
  top: 220px;
  padding: 0 1px 0 4px;
}

#color_picker {
  position: absolute;
  top: 480px;
  left: 898px;
  padding: 0 5px 0 7px;
}

#color {
  margin: 0 80px 5px 80px;
}

#current_color {
  width: 150px;
  height: 30px;
  border: 1px solid #000;
  background-color: #fff;
  padding-bottom: -10px;
}

#color_value {
  position: relative;
  left: 900px;
  top: 400px;
}
