* {
  box-sizing: border-box;
  font-family: 'Coming Soon', cursive;
}

body{
  background-image: url(images/drawing-pad-1209781_1920.jpg);
  background-repeat: no-repeat;
  background-size: 1500px 900px;
  position: fixed;
}

h1 {
  font-size: 3em;
  position: relative;
  left: 490px;
  top: 50px;
}

p {
  font-size: 1.1em;
  font-weight: bolder;
  margin: 0 0 3px 3px;
}

#container {
  width: 1000px;
  position: absolute;
  top: 250px;
  left: 270px;
}

#wrapper {
  width: 600px;
  float: left;
}

.box {
  border: 1px solid #DDDDDD;
  width: 10px;
  height: 10px;
  display: inline-block;
  float: left;
  background-color: white;
}

.colors {
  border-radius: 100%;
  border: 1px solid #DDDDDD;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 1px;
}

#options {
  float: left;
  width: 250px;
  margin-left: 25px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
#palette {
  margin-bottom: 15px;
}

#color_wheel {
  margin-bottom: 15px;
}

#current_color {
  width: 150px;
  height: 30px;
  border: 1px solid #000;
  background-color: #fff;
}

#tools {
  margin-top: 15px;
}

#paint {
  display: none;
}

/*#eraser {
  visibility: visible;
}*/
