* {
  box-sizing: border-box;
}

body{
  background-image: url(images/drawing-pad-1209781_1920.jpg);
  background-repeat: no-repeat;;
  background-size: cover;
  max-width: 1400px;
}

h1 {
  text-align: center;
  margin-top: 5%;
  font-family: 'Coming Soon', cursive;
  font-size: 4em;
}

#wrapper {
  width: 600px;
  height: 360px;
  margin: 8% 25% 5% 28%;
}

.box {
  border: 1px solid #DDDDDD;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  float: left;
  background-color: white;
}


.colors {
  border-radius: 100%;
  border: 1px solid #DDDDDD;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 1px;
}

#palette {
  margin: 0 30%;
  float: right;
  position: relative;
